.card-wrapper {
    position: relative;
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .toolbar {
        font-size: 14px;
    }
    .title-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 12px;

        input {
            width: 100%;
            border: none;
            height: 30px;
            outline: none;
            font-size: 24px;
        }
    }
}