// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
@use "sass:math" as math;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jotAngular12-primary: mat.define-palette(mat.$indigo-palette);
$jotAngular12-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jotAngular12-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$jotAngular12-theme: mat.define-light-theme(
  (
    color: (
      primary: $jotAngular12-primary,
      accent: $jotAngular12-accent,
      warn: $jotAngular12-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($jotAngular12-theme);
@import "./assets/styles/custom-styles.scss";
@import "./assets/plugins/quill/quill.snow.css";
@import "./assets/styles/colors-light.scss";
@import "./assets/styles/sizing.scss";
@import "./assets/styles/functions.scss";
@import "./assets/styles/elements.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  &.standard-toolbar {
    @include standardToolbar;
    border-bottom: 1px solid $border;
  }
}

.jt-field {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.ml {
  margin-left: 6px;
}

.mat-icon.jt-icon-lg {
  font-size: 30px;
}

.mat-icon.jt-icon-md {
  font-size: 24px;
}

.mat-icon.jt-icon-sm {
  font-size: 21px;
}

.base-text {
  font-size: 14px;
  font-weight: 400;
}

// Custom styling for components
.quill-outer-wrapper {
  @include standardPadding;
}

.bgw {
  @include bg-primary;
}

.w-100 {
  width: 100%;
}

.search-wrapper {
  @include combo-secondary;
  @include light-border;
  padding: 4px 30px;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  margin-right: 6px;
  color: $text-primary;
  line-height: 24px;
  float: left;
  position: relative;

  input {
    @include combo-secondary;
    border: none;
    outline: 0;
    width: 100%;
    line-height: 24px;
  }

  &::before {
    font-family: "Font Awesome\ 6 Free";
    content: "\f002";
    color: #646f79;
    position: absolute;
    font-weight: 900;
    font-size: 0.9rem;
    left: 12px;
    top: 6px;
  }

  &::after {
    display: none;
    font-family: "Font Awesome\ 6 Free";
    font-weight: 900;
    font-size: 0.8rem;
    content: "\f00d";
    color: #646f79;
    position: absolute;
    right: 12px;
    top: 5px;
  }
}

.toolbar {
  @include combo-primary;
  @include shadow;

  &.main {
    min-height: 100px;
    padding: 6px 33px;
  }
  &.primary {
    @include combo-accent;
  }
}

// Avatar
app-avatar {
  .jt-avatar {
    position: relative;
    user-select: none;

    mat-card-header {
      .mat-card-header-text {
        margin: 0;
      }

      .mat-card-avatar {
        @include combo-avatar-primary;
        text-align: center;
        overflow: hidden;
        border-radius: 50%;
        text-transform: uppercase;

        &.jt-small {
          width: $heading-size;
          height: $heading-size;
          font-size: $base-size;
          line-height: $heading-size;

          &.jt-grouped {
            margin-left: 0;
          }

          &.jt-online {
            &::before {
              content: "";
              border: 1px solid $canvas;
              position: absolute;
              height: 8px;
              width: 8px;
              border-radius: 50%;
              bottom: 2px;
              left: -2px;
              background: $status-success;
            }
          }
        }

        &.jt-large {
          width: 138px;
          height: 138px;
          font-size: 4.2rem;
          line-height: 140px;

          &.jt-online {
            &::before {
              content: "";
              border: 1px solid $canvas;
              position: absolute;
              height: 14px;
              width: 14px;
              border-radius: 50%;
              top: 114px;
              left: 14px;
              background: $status-success;
              z-index: 1000;
            }
          }
        }
      }
    }

    .jt-avatar-control {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 50%;
      background-color: $canvas;
      box-shadow: $box-shadow;
      color: $text-secondary;
      cursor: pointer;

      &.small {
        display: none;
      }

      &.large {
        left: 105px;
        top: 110px;
        width: 24px;
        height: 24px;

        .avatar-edit-icon {
          font-size: 12px;
          width: 12px;
          height: 12px;
          line-height: 12px;
        }
      }
    }

    .jt-avatar-online {
      border: 1px solid $canvas;
      position: absolute;
      border-radius: 50%;
      background: $status-success;
      z-index: 1;

      &.small {
        height: 8px;
        width: 8px;
        top: $line-height;
        left: 0;
      }

      &.large {
        height: $base-size;
        width: $base-size;
        top: 116px;
        left: 18px;
      }
    }
  }
}

// Avatar Group start
app-avatar-group {
  .avatar-group {
    app-avatar {
      margin-right: - math.div($padding-size,2);

      .avatar {
        mat-card-header {
          .mat-card-avatar {
            border: 1px solid $border;
          }
        }
      }
    }
  }
}

.cdk-overlay-pane {
  &.general-dialog-container {
    .mat-dialog-container {
      padding: 0;
    }
  }
}

.standard-header {
  width: 100%;

  .title {
    @include leading;
  }
}

.standard-body {
  padding: 24px 60px;
  min-height: 150px;
  max-height: 300px;
  overflow-y: auto;
}

.standard-action {
  border-top: 1px solid $border;
  @include standardToolbar;
  display: flex;
  align-items: center;
}

.mat-button.close {
  padding: 0;
  min-width: 36px;
  width: 36px;
  height: 36px;

  .mat-button-wrapper {
    .mat-icon {
     @include icon-medium;
    }
  }
}