  /* Blue */
  $blue-100: #eff5fe;
  $blue-200: #e2e8f0;
  $blue-300: #c4dafa;
  $blue-400: #cbd5e1;
  $blue-500: #a1c6f8;
  $blue-600: #94a3b8;
  $blue-700: #74b0f5;
  $blue-800: #64748b;
  $blue-900: #2196f3;
  $blue-1000: #1e96f7;
  $blue-1100: #1e88dc;
  $blue-1200: #1a78c3;
  $blue-1300: #4b5563;
  $blue-1400: #475569;
  $blue-1500: #1766a6;
  $blue-1600: #125183;
  $blue-1700: #374151;
  $blue-1800: #334155;
  $blue-1900: #1e293b;
  $blue-2000: #1f2937;

  /* Gray */
  $gray-100: #ffffff;
  $gray-200: #fafafa;
  $gray-300: #f9fafb;
  $gray-400: #f8fafc;
  $gray-500: #faf5ff;
  $gray-600: #f8f8f2;
  $gray-700: #f1f5f9;
  $gray-800: #f3f4f6;
  $gray-900: #f0f0f0;
  $gray-1000: #e5e7eb;
  $gray-1100: #d1d5db;
  $gray-1200: #bdbdbd;
  $gray-1300: #b0b0b0;
  $gray-1400: #686868;
  $gray-1500: #323232;
  $gray-1600: #23241f;
  $gray-1700: #000000;

  /* Blue violet */
  $blueViolet-100: #eef2ff;
  $blueViolet-200: #e2ecfd;
  $blueViolet-300: #e0e7ff;
  $blueViolet-400: #c7d2fe;
  $blueViolet-500: #a5b4fc;
  $blueViolet-600: #9ca3af;
  $blueViolet-700: #8b9fc1;
  $blueViolet-800: #6b7280;
  $blueViolet-900: #111827;
  $blueViolet-1000: #0f172a;

  /* Red */
  $red-100: #fef2f2;
  $red-200: #fee2e2;
  $red-300: #fecaca;
  $red-400: #fca5a5;
  $red-500: #f87f71;
  $red-600: #f87171;
  $red-700: #ef4444;
  $red-800: #dc2626;
  $red-900: #b91c1c;
  $red-1000: #991b1b;
  $red-1100: #7f1d1d;
  $red-1200: #e60000;

  /* Violet */
  $violet-100: #818cf8;
  $violet-200: #6366f1;
  $violet-300: #4f46e5;
  $violet-400: #4338ca;
  $violet-500: #3730a3;
  $violet-600: #312e81;

  /* Scarlet red */
  $scarletRed-100: #fff1f2;
  $scarletRed-200: #ffe4e6;
  $scarletRed-300: #fecdd3;
  $scarletRed-400: #fda4af;
  $scarletRed-500: #fb7185;
  $scarletRed-600: #f43f5e;
  $scarletRed-700: #e11d48;
  $scarletRed-800: #be123c;
  $scarletRed-900: #9f1239;
  $scarletRed-1000: #881337;

  /* Purple */
  $purple-100: #f3e8ff;
  $purple-200: #e9d5ff;
  $purple-300: #d8b4fe;
  $purple-400: #c084fc;
  $purple-500: #a855f7;
  $purple-600: #9333ea;
  $purple-700: #7e22ce;
  $purple-800: #6b21a8;
  $purple-900: #581c87;

  /* Bluish green */
  $bluishGreen-100: #a8dab5;
  $bluishGreen-200: #46a35e;

  /* Cyan */
  $cyan-100: #14b8a6;
  $cyan-200: #0d9488;
  $cyan-300: #0f766e;
  $cyan-400: #115e59;
  $cyan-500: #134e4a;

  /* Khaki */
  $khaki-100: #fffbeb;
  $khaki-200: #fef3c7;
  $khaki-300: #fde68a;
  $khaki-400: #ffd374;
  $khaki-500: #fcd34d;
  $khaki-600: #fbbf24;
  $khaki-700: #f59e0b;

  /* Vermilion */
  $vermilion-100: #78350f;

  /* Greenish cyan */
  $greenishCyan-100: #f0fdfa;
  $greenishCyan-200: #ccfbf1;
  $greenishCyan-300: #99f6e4;
  $greenishCyan-400: #5eead4;
  $greenishCyan-500: #2dd4bf;

  /* Bluish cyan */
  $bluishCyan-100: #bae6fd;
  $bluishCyan-200: #36beff;
  $bluishCyan-300: #22d3ee;

  /* Orange */
  $orange-100: #e1d6c4;
  $orange-200: #d97706;
  $orange-300: #b45309;
  $orange-400: #92400e;

  /* Green */
  $green-100: #008a00;

  /* Purple magenta */
  $purpleMagenta-100: #e879f9;

  /* Lime */
  $lime-100: #bef264;

  $inset-box-shadow: inset -7px -6px 2px -6px rgba(108, 124, 139, 0.3);
  $box-shadow:       0 0 3px rgba(108, 124, 139, .5) !default;