$canvas: #ffffff;
$accent: #2dd4bf;
$secondary: #ebebeb;
$hover: #fafafa;

$border: #dddfde;

$text-primary: #3f4242;
$text-secondary: #646f79;
$text-accent: #fff;

// Status Colors
$status-error:   #E03131;
$status-success: #40c057;
$status-warning: #fd7e14;
$status-info:    #339AF0;

$inset-box-shadow: inset -7px -6px 2px -6px rgba(108, 124, 139, 0.3);
$box-shadow: 0 0 3px rgba(108, 124, 139, 0.5) !default;
