.nowrap {
    display: block;
    white-space: nowrap;
}

.f-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.wrap {
    flex-wrap: wrap;
  }
}

.end { justify-content: flex-end; }
.start { justify-content: flex-start; }
.center { justify-content: center; }

.f-col {
  display: flex;
  flex-direction: column;
}

.f-col-spacer-half {
  width: 8px;
  display: block;
}

.f-row-spacer-half {
  height: 8px;
  display: block;
}

.col-spacer {
  width: 16px;
  display: block;
}

.row-spacer {
  height: 16px;
  display: block;
}

.f-spacer {
  flex-grow: 1;
}

.f-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.f-apart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tab-spacer {
    width: 36px;
    height: 36px;
}

.display {
  @include display;
  margin: 0;
}

.heading {
  @include heading;
  margin: 0;
}

.subheading {
  @include subheading;
  margin: 0;
}

.leading {
  @include leading;
  margin: 0;
}

.base {
  @include base;
  margin: 0;
}

.small {
  @include small;
  margin: 0;
}

.xsmall {
  @include xsmall;
  margin: 0;
}

.ellipsis {
  @include ellipsis;
}

.text-primary {
  color: $text-primary;
}

.text-secondary {
  color: $text-secondary;
}

.text-accent {
  color: $text-accent;
}