// background colors
@mixin bg-primary {
  background-color: $canvas;
}
@mixin bg-secondary {
  background-color: $canvas;
}
@mixin bg-accent {
  background-color: $accent;
}

// Content area related
@mixin standardPadding {
  padding: $spacing-base $spacing-large;
}

// For container with less content
@mixin largePadding {
  padding: $spacing-large;
}

@mixin shadow {
  box-shadow: $box-shadow;
}

@mixin light-border {
  border: 1px solid $border;
}

@mixin light-icon {
  color: #646f79;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Combos
@mixin combo-primary {
  color: $text-primary;
  background-color: $canvas;
}
@mixin combo-secondary {
  color: $text-secondary;
  background-color: $hover;
}
@mixin combo-accent {
  color: $text-accent;
  background-color: $accent;
}
@mixin combo-solid-accent {
  color: $text-accent;
  background-color: $accent;
}
@mixin combo-avatar-accent {
  color: $text-accent;
  background-color: $accent;
}
@mixin combo-avatar-primary {
  color: $text-primary;
  background-color: $border;
  border: 1px solid $border;
}

@mixin icon-medium {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

@mixin standardToolbar {
  padding: 0 12px;
  height: 54px;
  background-color: $canvas;
}

@mixin errorField {
  border-color: $status-error;
}