$spacing-xsmall: 3px;
$spacing-small: 4px;
$spacing-base: 6px;
$spacing-large: 12px;

// Additional typograpgy
$display-size: 42px !default;
$heading-size: 34px !default;
$subheading-size: 24px !default;
$leading-size: 18px !default;
$base-size: 14px !default;
$small-size: 12.6px !default;
$xsmall-font: 11.2px !default;
$modal-header: 36px !default;
$font-icon-size: 16px !default;
$border-radius: 3px !default;
$padding-size: 12px !default;
$touch-factor: 36px !default;
$line-height: 24px !default;
$signal-size: 36px !default;
$chip-height: 32px !default;
$modal-header: 36px !default;
$options-height: 48px !default;
$time-input-width: 63px !default;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// text sizes
@mixin display {
  font-size: 42px;
  line-height: 54px;
}

@mixin heading {
  font-size: 34px;
  line-height: 48px;
}

@mixin subheading {
  font-size: 24px;
  line-height: 32px;
}

@mixin leading {
  font-size: 18px;
  line-height: 24px;
}

@mixin base {
  font-size: 14px;
  line-height: 24px;
}

@mixin small {
  font-size: 12.6px;
  line-height: 14px;
}

@mixin xsmall {
  font-size: 11.2px;
  line-height: 12.6px;
}
